.autocomplete
  input.autocomplete__field type="search" autofocus="" ng-model="lexeme" typeahead-template-url="autocompleteTemplate.html" typeahead="lexeme for lexemes in getLexemes($viewValue)" typeahead-wait-ms="200" typeahead-editable="false" typeahead-on-select="onLexemeSelect($item)"
