.graph__canvas {
  width: 100%;
  display: block;
  cursor: pointer;
}

.green-border {
  border: 1px solid #4cae4c !important;
}

.node__border {
  display: block;
  width: 130px;
  height: 70px;
  padding: 5px;
}

node {
  width: 120px;
  height: 60px;
  display: block;
  overflow: hidden;
  background-color: #ccc;
  border: 1px dashed gray;
}

node.selected {
  border: 1px solid black;
}

node-container {
  display: block;
  width: 120px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 2px 0;
}

node span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: -7px 5px 0 5px;
  max-height: 56px;
}

