%item
  display: block
  font-style: normal
  font-weight: 400

.item
  @extend %item
  @extend %word-wrap

.item__lemma
  @extend %item
  font-weight: 600

  a &
    color: $primary-link-color

  .header &
    margin-left: -1px
    color: $default-color
    font-weight: 700

.item__position
  display: inline-block
  min-width: 1rem
  position: relative
  top: -0.1rem
  left: 0.15rem
  background: $list-border-color
  color: #fff
  border-radius: 1rem
  font-size: 0.7em
  font-weight: 600
  line-height: 1rem
  text-align: center
  vertical-align: middle

  .header &
    font-size: 0.5em
    font-weight: 700 !important
    top: 0

.item__description
  @extend %item
  padding-top: 0.1rem
  color: $secondary-link-color

.item__description--inline
  display: inline
