.list
  & + &
    padding-top: 3rem

.list__item
  display: block
  padding: $list-vertical-padding 0 ($list-vertical-padding + 0.1em)
  border-bottom: 1px solid $list-border-color

.list__item--more
  $image: "elipsis@2x.png"
  $image-width: image-width($image) / 2
  $image-height: image-height($image) / 2

  padding-left: round($image-width * 1.4)
  background: asset-data-url($image) no-repeat
  background-size: $image-width $image-height
  background-position: 1px center
  color: $secondary-link-color
  font-size: 0.85em
  font-weight: 600

a.list__item--more
  &:hover
    color: darken($secondary-link-color, 15%)

  &:active
    color: $active-link-color

.list__header
  @extend .list__item
  padding-top: 0
  font-size: 1.4em
  font-weight: 700
  line-height: 1.2
  letter-spacing: -0.05rem

  .list__header__aux
    font-weight: 300
    color: $secondary-link-color
