.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $modal-overlay-background
  overflow: hidden
  padding: 20px

.modal__content
  @extend .wrapper
  position: relative
  max-width: round($wrapper-width / 2)
  max-height: 100%
  padding: 25px 20px
  border-radius: 3px
  background-color: $modal-background
  text-align: center
  overflow: auto

.modal__close
  @extend %inverted-link
  position: fixed
  top: 20px
  right: 20px
  padding: 20px
  border-radius: 2px
  font-weight: 600
  color: black
  font-weight: bold
  display: inline-block
  padding: 10px 20px
  background-color: white

.modal__bar
  margin: -5px -20px 20px
  padding: 0 20px 15px
  border-bottom: 1px solid $list-border-color
