.top {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: $top-height;
  background: $top-background;
  line-height: $top-height - 2px;
}

.top--alternative {
  z-index: 0;
  top: $top-height;
  height: $top-alternative-height;
  background: $top-alternative-background;
  line-height: $top-alternative-height - 1px;
}

.top--invert a {
  color: #cccccc;
}

.top__container {
  @extend .container;
  padding-top: 0;
  padding-bottom: 0;
}

.top__container--main {
  @extend .container--main;
}

.top__container--sidebar {
  overflow: hidden;
  height: 40px;
}

.top__logo {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: -0.05rem;
  white-space: nowrap;
}
