.u__hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.u__truncate
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.u__text-right
  text-align: right !important
