# encoding: utf-8
# {{ ansible_managed }}

Model.new("{{ app_full_name }}-archive", '{{ app_full_name }} archive backup') do
  store_with S3 do |s3|
    s3.path              = "apps/{{ app_path }}"
  end

  archive :shared do |archive|
    {% for path in backup_archive_paths %}
    archive.add "{{ app_location }}/shared/{{ path }}/"
    {% endfor %}
  end

  compress_with Gzip

  after do |exit_status|
    s3 = storages.find {|s| s.is_a?(Backup::Storage::S3) }
    fog = Fog::Storage.new(
      :provider                 => 'AWS',
      :aws_access_key_id        => s3.access_key_id,
      :aws_secret_access_key    => s3.secret_access_key
    )
    expire = Time.now + 3600

    package.filenames.each do |file|
      key = File.join(s3.path, trigger, time, file)
      url = fog.directories.new(:key => s3.bucket).files.new(:key => key).url(expire)
      puts "Download URL: #{url}"
    end
  end
end
