*
  box-sizing: border-box

html
  background: #fff
  color: #222
  font: 12px/1.4 "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif

a
  text-decoration: none
  transition: $default-transition

  &:active
    transition: none !important

body, p,
h1, h2, h3, h4, h5, h6,
dl, dt, dd
  margin: 0
  font: inherit

ul, ol, li
  margin: 0
  padding: 0
  list-style: none
