*
  box-sizing: border-box

html
  background: #fff
  color: #222
  font: 12px/1.4 "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif

a
  text-decoration: none

body,
h1, h2, h3, h4, h5, h6
  margin: 0

ul, ol, li
  margin: 0
  padding: 0
  list-style: none
