.top
  position: fixed
  z-index: 1
  top: 0
  right: 0
  left: 0
  height: $top-height
  background: #525252

  & + *
    margin-top: $top-height * 1.5

  a:not(.dropdown-menu__item)
    display: inline-block
    color: $secondary-link-color
    font-weight: 600
    line-height: 1.2

    &:hover
      color: #ccc

    &:active
      color: #fff

  .top__logo
    font-size: 1.4em
    letter-spacing: -0.05rem

.definition-header
  @extend .list__header
  padding-left: 20%
  border-bottom: none
  color: $secondary-link-color
  font-weight: 600
