$default-color: #222
$default-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, opacity 0.2s ease-out

$primary-link-color: #1786c8
$secondary-link-color: #929292

$hover-link-color: darken($primary-link-color, 10%)
$active-link-color: #c82925

$list-border-color: #dcdcdc
$list-vertical-padding: 0.5em

$grid-units: 20
$column-units: 5
$column-background: #f8f8f8

$main-column-units: $grid-units - 2 * $column-units
$main-column-background: #fff

$wrapper-width: 1000px

$top-height: 50px
$top-background: rgba(#525252, 0.95)
$top-link-color: $secondary-link-color
$top-hover-link-color: mix($secondary-link-color, $list-border-color)
$top-active-link-color: mix($top-hover-link-color, $list-border-color)

$top-alternative-height: 40px
$top-alternative-background: rgba($list-border-color, 0.8)
